* {
    box-sizing: border-box;
  }

  /* Animation CSS starts */


  /* Animation CSS Ends */
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(240, 240, 240);
  }

  h1 {
    margin-top: 0;
    font-size: 22px;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
  }

  h3 {
    margin-top: 0;
    font-size: 18px;
  }

  h4 {
    margin-top: 0;
    font-size: 16px;
  }

  h5 {
    margin-top: 0;
    font-size: 14px;
  }

  h6 {
    margin-top: 0;
    font-size: 12px;
  }

  code {
    font-size: 1.2em;
  }

  ul {
    padding-inline-start: 20px;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    color: black;
    cursor: pointer;
  }

  .square:hover {
      box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      z-index: 2;
  }
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }

  .margin-left-40 {
    margin-left: 40%;
  }

  .status {
    margin-top: 10%;
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    margin-left: 20px;
  }

  .play-again-btn {
    cursor: pointer;
    height: 30px;
    width: 150px;
    border-radius: 12px;
    border-color: rgb(72, 135, 252);
    background-color: rgb(192, 228, 255);
    margin-top: 10px;
  }